<html>
    <head>
        <link rel="stylesheet" href="../assets/blog.css">

    </head>
<div class="header">
    <h2><%= blog_title %></h2>
  </div>
  
  <div class="row">
    <div class="leftcolumn">
      <div class="card">
        <h2><%= subject_title %></h2>
        <h5><%= des %></h5>
        <div class="fakeimg" style="height:200px;"><%= content %></div>
      </div>
      
    </div>
    <div class="rightcolumn">
      

      <div class="card">
        <h3>Follow Me</h3>
        <p><a href="<%= platform+username %>"><%= username %></a></p>
      </div>
    </div>
  </div>
  
  
  </html>